
<style>


  b{
      font-family: Apple Chancery, cursive;
      font-size: 15px;
  }
.headers{
  background-image:url("https://w0.peakpx.com/wallpaper/116/459/HD-wallpaper-microchip-neon-lines-black-background-chips-technology-backgrounds.jpg") ;
  background-size:cover;
  background-repeat: no-repeat;
  margin-top: -5px;
}

.modal-body{
  margin: auto; width: 250px;
}
</style>


 
  <div class ="headers">
      <br><br><br>
      <br><br><br>
  </div>
 <div class="container">
  <div style="text-align: right;">
    <button (click)="setLangueArabe()" style="background-color: rgb(255, 255, 255);border-color: aliceblue;" type="button"> 
  <img src="https://cdn-icons-png.flaticon.com/512/4855/4855834.png"[height]="20" alt="Arabe">
 </button>
<button (click)="setLangueFrancais()"  style="background-color: rgb(255, 255, 255);border-color: aliceblue;" type="button">
 <img src="https://cdn-icons-png.flaticon.com/512/5315/5315693.png"[height]="20" alt=""></button>
<button (click)="setlangueAnglais()" style="background-color: rgb(255, 254, 254);border-color: aliceblue;" type="button">
 <img src="https://as2.ftcdn.net/v2/jpg/00/95/45/61/1000_F_95456103_ZAkq44OVLaX7zHS37aOZumekTyu8RrSq.jpg" height="20" alt=""></button>        
</div>
<div style="display: flex;flex-direction: row;justify-content: space-between;align-items: center;">
<div>
    <h5>
      Date Début :
    </h5>
    <form class="form-inline">
      <div class="form-group">
        <div class="input-group">
          <input class="form-control" placeholder="yyyy-mm-dd"
                 name="dp" [(ngModel)]="startDate" ngbDatepicker #d="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
          </div>
        </div>
      </div>
    </form>
  </div>
<div>
  <h5>Date fin :</h5>
  <form class="form-inline">
    <div class="form-group">
      <div class="input-group">
        <input class="form-control" placeholder="yyyy-mm-dd"
               name="dp" [(ngModel)]="endDate" ngbDatepicker #dd="ngbDatepicker">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar" (click)="dd.toggle()" type="button"></button>
        </div>
      </div>
    </div>
  </form>
</div> 
<div>
  <button type="button" (click)="checkAvailability()" class="btn btn-primary">Vérifier disponnibilité</button>
</div>
</div>




<div class="card shadow mb-5">
<div class="col-md-15">
<table class="table table-striped">
<thead class="table-dark">
<tr> 
  <th>{{textsection21.section21}}</th>
  <th>{{textsection22.section22}}</th>
  <th>{{textsection23.section23}}</th>
  <th>{{textsection24.section24}} </th> 
  <th>{{textsection25.section25}}</th>
  <th>{{textsection26.section26}}</th>
</tr>
</thead>
<tbody>

<tr *ngFor="let service of services">
<td><b>{{service.nom_service}}</b></td>
<td>
  <button attr.id="{{service.id}}"  class="btn btn-warning"  type="button" data-toggle="modal" data-target="#confirmer" style="color: black;"
   (click)="saveTicket($event)"  [disabled]="service.disabled " > 
   <!-- [disabled]="service.disabled !== '1'" -->
  {{textsection27.section27}}</button></td>
<td><b>{{service.prefixe}}</b></td>
<td>{{service.lastnum}}</td>
<td>{{service.lasttrait}}</td>
<td>{{service.nbattente}}</td>
</tr> 

</tbody>
</table>


<!-- detail -->




<!-- confirmer -->

<div class="modal fade" id="confirmer" tabindex="-1" role="dialog" aria-labelledby="confirmerLabel" aria-hidden="true" >
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header" >
     
    
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form class="row g-3">
        <div class="col-md-20">
          <label for="textMobile" class="form-label" ><b style="text-align: center;font-size: 18px;"> Agence : {{ticketResponse.agence}}  </b> </label>
            <br>
          <label for="textMobile" class="form-label" ><b style="text-align: center;font-size: 18px;"> service : {{ticketResponse.service}}  </b> </label>
        <br><br>
        <label for="textMobile" class="form-label" ><b style="text-align: center;margin-left: 0px;font-size: 26px;">Ticket Numero</b>
          <br><b style="text-align: center;margin-left: 60px;font-size: 40px;">{{ticketResponse.numeroticket}}</b> </label><br><br>
        
          <label for="textMobile" class="form-label" >
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
            <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7Zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216ZM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"/>
          </svg> <span [ngSwitch]="agence != null">
          <b *ngSwitchCase="true">
            {{agence.nbattente}}
          </b>
          <b *ngSwitchCase="false">
            0
          </b>
          <b *ngSwitchDefault>
          0
          </b>
          </span> 
          
                    
            <label for="textMobile" class="form-label" ><b>&nbsp; Nombre global en attente </b></label><br>
        </label>

        <label for="textMobile" class="form-label" >
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
            <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7Zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216ZM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"/>
          </svg> <b>{{ticketResponse.nbattente}}</b>
                    
            <label for="textMobile" class="form-label" ><b>&nbsp; Les personnes en attente </b></label><br>
        </label>
         
        <label for="textMobile" class="form-label" >
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-ticket-detailed-fill" viewBox="0 0 16 16">
            <path d="M0 4.5A1.5 1.5 0 0 1 1.5 3h13A1.5 1.5 0 0 1 16 4.5V6a.5.5 0 0 1-.5.5 1.5 1.5 0 0 0 0 3 .5.5 0 0 1 .5.5v1.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 11.5V10a.5.5 0 0 1 .5-.5 1.5 1.5 0 1 0 0-3A.5.5 0 0 1 0 6V4.5Zm4 1a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7a.5.5 0 0 0-.5.5Zm0 5a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7a.5.5 0 0 0-.5.5ZM4 8a1 1 0 0 0 1 1h6a1 1 0 1 0 0-2H5a1 1 0 0 0-1 1Z"/>
          </svg>
          <span [ngSwitch]="agence != null">
            <b *ngSwitchCase="true">
             {{agence.services[idService].lastnum}}
            </b>
            <b *ngSwitchCase="false">
              nothing
            </b>
            <b *ngSwitchDefault>
              nothing
            </b>
            </span>
                  
          <label for="textMobile" class="form-label" ><b> Dernier Numero </b></label><br>
      </label>

      <label for="textMobile" class="form-label" >
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-ticket-detailed-fill" viewBox="0 0 16 16">
          <path d="M0 4.5A1.5 1.5 0 0 1 1.5 3h13A1.5 1.5 0 0 1 16 4.5V6a.5.5 0 0 1-.5.5 1.5 1.5 0 0 0 0 3 .5.5 0 0 1 .5.5v1.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 11.5V10a.5.5 0 0 1 .5-.5 1.5 1.5 0 1 0 0-3A.5.5 0 0 1 0 6V4.5Zm4 1a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7a.5.5 0 0 0-.5.5Zm0 5a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7a.5.5 0 0 0-.5.5ZM4 8a1 1 0 0 0 1 1h6a1 1 0 1 0 0-2H5a1 1 0 0 0-1 1Z"/>
        </svg><span [ngSwitch]="agence != null">
        <b *ngSwitchCase="true">
         {{agence.services[idService].lasttrait}}
        </b>
        <b *ngSwitchCase="false">
          nothing
        </b>
        <b *ngSwitchDefault>
          nothing
        </b>
        </span>
         
                
        <label for="textMobile" class="form-label" ><b> Dernier Traitement </b></label><br>
    </label>



          <label for="textMobile" class="form-label">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-check" viewBox="0 0 16 16">
              <path d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
              <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
            </svg><b> date: {{ticketResponse.date}}</b>
        <br>
        </label>
        <label for="textMobile" class="form-label">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
            <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
          </svg><b> heure: {{ticketResponse.heure}}</b>
        <br>
        </label>
      </div>    
      <a href="https://www.expressdisplay.net/en/">


      </a>
        <div class="col-6" class="text-center">
          <button type="button" class="btn btn-warning btn-rounded" (click)="displayMsg()"style="margin-right: 100px;"data-dismiss="modal">Confirmer</button>
        </div>
      </form>
    </div>
   
  </div>
</div>
</div>
</div>
</div>
</div>



<p class="go2top">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16"(click)="gotoTop()">
    <path d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
  </svg>
</p>