



<div class="col-sm-12 col-lg-6">
	<div class="m-1 p-3 mb-4 bg-gradient rounded shadow-it hoverable btnService" 
style="background-color: rgba(0,69,121, 0.2);" data-id="1921681112" data-value="{'lat': -31.56391, 'lng': 147.154312}">

<div class="d-flex w-100 justify-content-between">
<h5 class="mb-1">Agence2</h5>
<svg width="60" height="40" preserveAspectRatio="xMidYMid" version="1.0" viewBox="0 0 690 488" xmlns="http://www.w3.org/2000/svg">…</svg>

</div>
<p class="text-start mb-1">Tunis /Tunis </p>
<div class="btn-group" role="group" aria-label="Basic outlined">
	<a class="btn btn-outline-primary">~1.97 KM</a>

<a href="http://www.google.com/maps/place/36.8189700,10.1657900" target="_blank" class="btn btn-primary" style="border-color: #2a6496;">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">

<path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"></path>
<path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"></path>

	
</svg>" Itinéraire "
</a>
	
</div>
</div>


</div>



<div class="gm-style-iw-a" style="position: absolute; left: 0px; top: 0px;">

<div class="gm-style-iw-t" style="right: 0px; bottom: 48px;"></div>
<div role="dialog" tabindex="-1" class="gm-style-iw gm-style-iw-c" style="padding-right: 0px; padding-bottom: 0px; max-width: 164px; max-height: 112px; min-width: 0px;">
<div class="gm-style-iw-d" style="overflow: scroll; max-height: 94px;">


</div>

</div>
<a class="btn btn-outline-primary">~11.67 KM</a>